{% extends "./sitebase.html" %}

{% block styles %}
    {% if DEBUG_ENABLE %}
        <link href="./static/css/blueimp-gallery.css" rel='stylesheet' type='text/css'>
    {% else %}
        <link href="./static/css/blueimp-gallery.min.css" rel='stylesheet' type='text/css'>
    {% endif %}
{% endblock styles %}

{% block beforeContainer %}
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
      
    <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <!-- a class="play-pause"></a>
      <ol class="indicator"></ol-->
  </div>
{% endblock beforeContainer %}

{% block beforeContent %}

  <div id="vincenza_links">
  {% for obj in vincenzaObjList %}
      <a href="{{ obj.file }}" title="{{ obj.titoloSlide | translate | capitalize }}"></a>
  {% endfor %}
  </div>
  <div id="vifra_links">
  {% for obj in viFraObjList %}
      <a href="{{ obj.file }}" title="{{ obj.titoloSlide | translate | capitalize }}"></a>
  {% endfor %}
  </div>
  <div id="francesco_links">
  {% for obj in francescoObjList %}
      <a href="{{ obj.file }}" title="{{ obj.titoloSlide | translate | capitalize }}"></a>
  {% endfor %}
  </div>

{% endblock beforeContent %}

{% block content %}
  <div class="row marginTop20">
    <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="font_4 centra">Vincenza</h3>
          <p align="justify">"Da soli, si cammina più velocemente; in due si va più lontano" (Proverbio africano)</p>
        </div>
          {% for obj in vincenzaObjList %}
            <img alt="..." src="{{obj.file}}" style="margin-bottom: 5px;" onClick="javascript:showGallery('vincenza', {{ loop.counter0 }});">
          {% endfor %}        
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="font_4 centra">Vincenza & Francesco</h3>
          <p align="justify">LEI: Giovane neolaureata, a tre giorni dalla partenza per un’esperienza londinese, viene contattata poiché il suo profilo è stato selezionato tra i tanti per svolgere uno stage inerente il suo curriculum di studio presso gli uffici dei Sistemi Informativi di regione Toscana.
</br>LUI:Affascinante Ingegnere informatico presso gli stessi uffici della giovane stagista, perennemente insoddisfatto della posizione professionale ricoperta, è sempre alla ricerca dell’occasione giusta per evadere dal mondo del pubblico impiego… Folgorato dalla donzella viene però temporaneamente distolto dalla ricerca della buona occasione rimanendo ancorato, ancora oggi, a sanare quei processi sanitari andati a male. 
</br>Artefice il destino e complice cupido nacque un grande amore.
</p>
        </div>
          {% for obj in viFraObjList %}
            <img alt="..." src="{{obj.file}}" class="img-responsive" style="margin-bottom: 5px; text-align: center;" onClick="javascript:showGallery('vifra', {{ loop.counter0 }});">
          {% endfor %}        
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="font_4 centra">Francesco</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
          {% for obj in francescoObjList %}            
            <img alt="..." src="{{obj.file}}" style="margin-bottom: 5px;" onClick="javascript:showGallery('francesco', {{ loop.counter0 }});">
          {% endfor %}
        </div>
    </div>
  </div>
{% endblock content %}


{% block addonscripts %}
    {% if DEBUG_ENABLE %}
        <script src="./static/js/blueimp-gallery.js"></script>
    {% else %}
        <script src="./static/js/blueimp-gallery.min.js"></script>
    {% endif %}
    <script src="./static/js/blueimp-helper.js"></script>
{% endblock addonscripts %}


{% block scripts %}

	function initPage(){
    return;
  }

  function showGallery(nome, indice){
    console.log(nome);
    console.log(indice);
    var links = document.getElementById(nome+'_links').getElementsByTagName('a');
    console.log(links);
    options = {
        fullScreen: false,
        stretchImages: false,
        index: links[indice],
    };
    console.log(options);
    if (blueimp.Gallery(links, options)) {
          return false;
      }
  };

{% endblock scripts %}
