{% extends "./sitebase.html" %}

{% block styles %}
  {% if DEBUG_ENABLE %}
      <link rel="stylesheet" href="./static/css/blueimp-gallery.css">
  {% else %}
      <link rel="stylesheet" href="./static/css/blueimp-gallery.min.css">
  {% endif %}
{% endblock styles %}

{% block beforeContent %}
<div id="album1_links">
{% for obj in album1 %} 
    <a href="{{ obj.file }}" title="{{ obj.titoloSlide | capitalize }}"></a>
{% endfor %}
</div>

{% endblock beforeContent %}

{% block content %}
  <div class="row marginTop20">    
    <blockquote class="pull-right">
      <p class="font_10 well well-sm">"Da soli si può andare in giro, in due si va sempre da qualche parte"</p>
      <small><cite style="color:black;">(A. Hitchcock – La donna che visse due volte)</cite></small>
    </blockquote>
  </div>
  <div class="row">
    <!--
    <div class="col-sm-2 col-md-2 col-lg-2">
      <ul class="nav nav-pills nav-stacked">
        <li></li>
        <li class="active"><a href="javascript:showGallery('album1');"><img src="{{album1_thumb}}" alt=""></a></li>
        <li class="active"><a href="javascript:showGallery('album2');"><img src="{{album2_thumb}}" alt=""></a></li>
      </ul>
    </div>
    -->
    <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls blueimp-gallery-display blueimp-gallery-playing">
      <div class="slides"></div>
        
        <!--h3 class="title"></h3-->
        <a class="prev">‹</a>
        <a class="next">›</a>
        <!-- a class="close">×</a-->
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
      </div>
    </div>

  </div>

{% endblock content %}


{% block addonscripts %}
{% if DEBUG_ENABLE %}
  <script src="./static/js/blueimp-gallery.js"></script>
{% else %}
  <script src="./static/js/blueimp-gallery.min.js"></script>
{% endif %}
{% endblock addonscripts %}


{% block scripts %}
  function initPage(){
    window.setTimeout(function() {
        showGallery('album1')},1000);
  }

  function showGallery(nome){
    var links = document.getElementById(nome+'_links').getElementsByTagName('a');
    options = {
        container: '#blueimp-gallery-carousel',
        carousel: true,
        index: links[0],
    };
  
    if (blueimp.Gallery(links, options)) {
          return false;
      }

  };
{% endblock scripts %}
