{% extends "./sitebase.html" %}

{% block content %}
  
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Chi ha viaggiato conosce molte cose, <br/>chi ha molta esperienza parlerà con intelligenza. <br/>Chi non ha avuto delle prove, poco conosce; <br/>chi ha viaggiato ha accresciuto l'accortezza."</p>
			<small><cite style="color:black;">(Siracide, Antico Testamento)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">   
			<p class="font_4 centra">La lista di nozze</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Alla scoperta dell'Australia</h3>
				</div>
				<div class="panel-body">
					<p style="font-size:14px;">
						Ancora non abbiamo fissato nulla, sempre in anticipo noi, ma sicuramente la nostra luna di miele sarà alla scoperta del contiente Australiano.
						Quindi se proprio volete farci un regalo e se insistete cosi' tanto tra poco vi potremmo dare tutte le info necessarie.</p>
					<br>	
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
