{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Da soli, si cammina più velocemente; in due si va più lontano"</p>
			<small><cite style="color:black;">(Proverbio africano)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Alloggio</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<p style="font-size:14px">
						Per coloro che ci raggiungeranno da troppo lontano, saremo lieti di avervi nostri ospiti per la notte del 10 Maggio. Per una migliore organizzazione, in particolare per l’alloggio, abbiamo però l’esigenza di avere conferma della vostra presenza entro la metà di febbraio 2014.
					</p>
					<br>
					<p style="font-size:14px">
						Poiché la Costa degli Dei a partire dal mese di Aprile/Maggio rappresenta una meta molto ambita per i turisti stranieri, per coloro che avranno l’esigenza o la voglia di trattenersi ulteriori giorni dopo il matrimonio si consiglia di prenotare una sistemazione con largo anticipo in quanto alcune strutture alberghiere ci hanno garantito disponibilità entro gennaio 2014.
					</p>
					<br>
					<p style="font-size:14px;">Abbiamo pensato di consigliarvi alloggi presso Hotel e Residence del posto:
						<ul>
							<li>
								<p style="font-size:14px;"><i><a href="http://www.hotelsolari.com/">Hotel Solari ***</a></i>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><i><a href="http://www.hotelcostaazzurra.it">Hotel Costa Azzurra ***</a></i>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><i><a href="http://www.residence-albatros.com/">Residence Albatros</a></i>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><i><a href="http://www.palazzomarzano.it">Hotel Palazzo Marzano ****</a></i>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><i><a href="http://www.caladelporto.com">Hotel Cala del Porto ****</a></i>.</p>
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
