{% extends "./sitebase.html" %}
 
{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Se succede qualcosa di brutto si beve per dimenticare;<br/> se succede qualcosa di bello si beve per festeggiare;<br/> e se non succede niente si beve per far succedere qualcosa."</p>
			<small><cite style="color:black;">(C. Bukowski)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Ricevimento</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<p style="font-size:14px; padding-left:10px;">Dopo la cerimonia, grandi festeggiamenti seguiranno presso il Ristorante <a href="https://www.google.it/maps/preview#!data=!1m4!1m3!1d95983!2d16.0844598!3d38.718779!4m21!3m17!1m1!1sBriatico+VV!1m5!1sRistorante+Mocambo%2C+contrada+Bevivino%2C+Pizzo+Calabro+Vibo+Valentia!2s0x13155dc41d253dd5%3A0x9aedb26168247df0!3m2!3d38.747442!4d16.188555!3m8!1m3!1d23990!2d16.176882!3d38.7370316!3m2!1i1518!2i740!4f13.1!5m2!13m1!1e1&fid=0"><i>"Mocambo"</i></a> a Pizzo. Qui gli sposi daranno inizio a brindisi e al banchetto ricco di prelibatezze per il palato.</p>
							<br>
							<p style="font-size:14px; padding-left:10px;"><strong><a href="./posta.php">Fateci sapere</a> nel caso di intolleranze alimintari, accortezze e/o esigenze particolari in merito al menù.</strong></p>
						</div>
						<div class="col-sm-7 col-md-7 col-lg-7 pull-rigth">
							<img src="./static/img/mocambo.jpg" class="img-responsive img-rounded center-block" style="width:100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
