{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Un matrimonio riuscito richiede che ci si innamori molte volte, sempre della stessa persona"</p>
			<small><cite style="color:black;">(Mignon McLaughlin)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Cerimonia</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<p style="font-size:14px; padding-left:10px;">La cerimonia si terrà a Briatico (VV), presso la Chiesa Madre di S. Nicola in piazza IV Novembre, alle ore 11,30.</p>
						</div>
						<div class="col-sm-7 col-md-7 col-lg-7 pull-rigth">
							<img src="./static/img/2007_briatico_chiesa_rotonda.jpg" class="img-responsive img-rounded center-block" style="width:100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
