{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Il genio abita semplicemente al piano di sopra della follia."</p>
			<small><cite style="color:black;">(A. Schopenhauer)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Alloggio</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<p style="font-size:14px">

						La notte del 10 Maggio, per coloro che ci raggiungeranno da troppo lontano e non hanno un appoggio in Calabria, sappiate che saremo lieti di avervi nostri graditi ospiti presso l'<a  href = "http://www.hotelsolari.com/" >Albergo Solari</ a>. Per chi ce l'ha richiesto abbiamo inoltre provveduto a fissare questa struttura anche per le notti  a seguire.
						<br/>
						L'<a  href = "http://www.hotelsolari.com/" >Albergo Solari</ a> si trova in via G. D'Annunzio n°30 a Briatico Tel 0963 391161, e si raggiunge facilmente per chi viene dall'aeroporto di Lamezia Terme. L'Hotel si trova sulla destra seguendo la statale 522 per Tropea. 

					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
