{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Alloggio</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<p style="font-size:14px">La Costa degli Dei, zona in cui si trova Briatico, a partire dal mese di Aprile/Maggio rappresenta una meta molto ambita per i turisti stranieri, è quindi importante che ci confermate la vostra presenza il prima possibile cosi' come la struttura che vi piacerebbe in modo da poter fissare tutte le camere insieme.</p>
					<br>
					<p style="font-size:14px;">Per una migliore organizzazione logistica abbiamo pensato di consigliarvi alloggi presso Hotel e Residence del posto:
						<ul>
							<li>
								<p style="font-size:14px;"><strong><a href="www.hotelsolari.com/">Hotel Solari ***</a></strong>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><strong><a href="www.hotelcostaazzurra.it">Hotel Costa Azzurra ***</a></strong>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><strong><a href="www.residence-albatros.com">Residence Albatros</a></strong>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><strong><a href="www.palazzomarzano.it">Hotel Palazzo Marzano ****</a></strong>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><strong><a href="www.caladelporto.com">Hotel Cala del Porto ****</a></strong>.</p>
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
