{% extends "./sitebase.html" %}
 
{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="well well-sm">"Se succede qualcosa di brutto si beve per dimenticare; se succede qualcosa di bello si beve per festeggiare; e se non succede niente si beve per far succedere qualcosa."</p>
			<small><cite style="color:black;">(Charles Bukowski)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Ricevimento</h3>
				</div>
				<div class="panel-body" style="background-color: rgba(245, 245, 245, 0.4);">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<p style="font-size:14px; padding-left:10px;">Dopo la cerimonia, grandi festeggiamenti seguiranno presso il Ristorante “Mocambo” a Pizzo. Qui gli sposi daranno inizio a brindisi e al banchetto ricco di prelibatezze per il palato.</p>
							<br>
							<p style="font-size:14px; padding-left:10px;"><strong><a href="./posta.php">Fateci sapere</a> nel caso di intolleranze alimintari, accortezze e/o esigenze particolari in merito al menù.</strong></p>
						</div>
						<div class="col-sm-7 col-md-7 col-lg-7 pull-rigth">
							<img src="./static/img/mocambo.jpeg" class="img-responsive img-rounded center-block" style="width:100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
