{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">Serata di benvenuto</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<p style="font-size:14px; padding-left:10px;">La sera prima del grande evento, per coloro che ci raggiungeranno da fuori della Calabria, Gran Buffet di benvenuto presso il Ristorante <a href="http://www.laperladelgolforistorante.it/">“La Perla del Golfo”</a> a Briatico a partire dalle ore 20:00.</p>
					</div>
					<div class="col-sm-7 col-md-7 col-lg-7 pull-rigth">
						<img src="./static/img/laperladelgolfo.jpg" class="img-responsive img-rounded center-block" style="width:100%">
					</div>
				</div>
			</div>				
		</div>
	</div>

{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
