{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Il mondo e' un libro e chi non viaggia ne conosce solo una pagina."</p>
			<small><cite style="color:black;">(S. Agostino)</cite></small>
		</blockquote>
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">   
			<p class="font_4 centra">Il primo passo, raggiungere Briatico</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">In Aereo</h3>
				</div>
				<div class="panel-body">
					<p style="font-size:14px;">L'aereo rappresenta il mezzo di trasporto più veloce per raggiungere la Calabria e il più economico, anche se non si direbbe. Per raggiungere Briatico l'aeroporto più vicino è quello di <a href="http://www.sacal.it" target="_blank">Lamezia Terme</a>, distante circa 40 minuti di macchina. L'altro aeroporto, a circa 100 km di distanza da Briatico è quello di Reggio Calabria.</p>
					<p style="font-size:14px;"><a href="http://www.ryanair.com" target="_blank">Ryanair</a> rappresenta la scelta ottimale per raggiungere Lamezia Terme con partenza dall'aeroporto di Pisa, Bologna, Bergamo e Roma Fiumicino.
					<br>
					Le tratte Pisa e Bologna sono, oltretutto, comodamente servite da bus transfer da/per Firenze. Questo servizio potrebbe risultare molto comodo a coloro i quali non hanno intenzione/possibilità di raggiungere l’aeroporto con un mezzo proprio evitando così anche l’inconveniente del parcheggio del mezzo.
						<ul>
							<li>
								<p style="font-size:14px;"><a href="http://www.appenninoshuttle.it/" target="_blank">Info Bus Firenze-Bologna</a>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><a href="http://www.terravision.eu/italiano/florence_pisa.html" target="_blank">Info Bus Firenze-Pisa</a>.</p>
							</li>
						</ul>
					</p>
					<p style="font-size:14px;"><a href="http://flyairone.com/" target="_blank">AirOne</a> rappresenta una valida alternativa per le partenze da Milano.
					<p style="font-size:14px;"><a href="http://flyairone.com/" target="_blank">Alitalia</a> rappresenta invece l'alternativa aerea più costosa con voli diretti da Roma Fiumcino e Milano.
					<p style="font-size:14px;">Una volta raggiunto l'aeroporto di Lamezia Terme le possibilità per raggiungere Briatico sono:
						<ul>
							<li>
								<p style="font-size:14px;"><strong>Auto</strong>. Noleggiare un'auto presso gli autonoleggi presenti all'aereporto. Il noleggio costa sui 30/35 euro al giorno. Con l'auto seguire le indicazioni per Pizzo e quindi proseguire per Tropea.<br/><i><small>(Scelta consigliata per una maggiore autonomia e indipendenza)</small></i></p>
							</li>
							<li>
								<p style="font-size:14px;"><strong>Treno</strong>. Prendere la <a href="http://www.lameziamultiservizi.it/index.php?area=TRASPORTI&id=21&linea=4&MyFermata=0" target="_blank">navetta</a> che collega l'aereoporto di Lamezia terme con la stazione dei treni; questa ha il seguente <a href="http://wordpress.lameziamultiservizi.it/wordpress/wp-content/uploads/2013/06/Shuttle1.pdf" target="_blank"> orario</a>. Una volta arrivati alla stazione centrale di Lamezia Terme prendere il trenino locale per Briatico.</p>
							</li>
							<li>
								<p style="font-size:14px;"><strong>Bus Transfer</strong>. nel caso riusciste a venire in gruppo (per esempio almeno 10 persone con lo stesso aereo o treno), si potrebbe prenotare un <a href="http://www.tropeatransfert.com" target="_blank">trasporto diretto</a> dall’aeroporto/Stazione FS a Briatico in modo da rendere più agevole l’arrivo.</p>
							</li>
						</ul>
					</p>
					<div class="map_canvas" id="0">38.839173; 16.261826; 10; Lamezia Terme; Briatico</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">In treno</h3>
				</div>
				<div class="panel-body">
					<p style="font-size:14px;">Il treno rappresenta una valida alternativa per raggiungere Briatico. Rispetto all'aereo il treno rappresenta una soluzione più dispendiosa sia in termini di tempo che di costi. Sono circa 8 ore di viaggio da Firenze, 10 ore da Milano. Il viaggio in treno vede l'utilizzo dell'alta velocità fino a Napoli, con Trenitalia o Italo, e quindi proseguire con la Freccia Argento o Intercity per Lamezia Terme/ Vibo Valentia Pizzo e da qui proseguire per Briatico con un trenino locale. I biglietti si possono acquistare direttamente sul sito di <a href="http://www.trenitalia.com" target="_blank">Trenitalia</a> o <a href="http://www.italotreno.it" target="_blank">Italo</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">In Auto</h3>
				</div>
				<div class="panel-body">
					<p style="font-size:14px;">Il viaggio in auto rappresenta invece la scelta per i più temerari e intrepidi. Il tragitto prevede la percorrenza della <font color="#08842E"><strong>A1</strong></font> fino a Salerno e da qui la mitica <font color="#08842E"><strong>A3 SA-RC</strong></font>. Per info e costi <a href="http://www.viamichelin.it/web/Itinerari" target="_blank">clicca qui</a></p>
				<div class="map_canvas" id="1">41.681118; 13.200073; 5; Firenze; Briatico</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">    	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title font_4">In Autobus</h3>
				</div>
				<div class="panel-body">
					<p style="font-size:14px;">Ed infine, per chi veramente non teme niente nella vita, l'autobus. Le compagnie che operano il servizio da Firenze, Roma, Milano, Pisa, Siena, La Spezia, Torino per Vibo Valentia o Lamezia Terme sono:
						<ul>
							<li>
								<p style="font-size:14px;"><a href="http://www.lirosilinee.com/" target="_blank">Lirosi Linee</a>.</p>
							</li>
							<li>
								<p style="font-size:14px;"><a href="http://www.foderaro.it/Le-nostre-autolinee_33_avvisoas.html" target="_blank">Foderaro</a>.</p>
							</li>
						</ul>
					</p>
				</div>
			</div>
	    </div>

	</div>

{% endblock content %}

{% block addonscripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu9gM1uoy8JGwXGjnkSe2Rac1brGKzA6U&v=3.exp&sensor=false"></script>
{% endblock addonscripts %}

{% block scripts %}

	var directionsService = new google.maps.DirectionsService();

	$('.map_canvas').each(function (index, Element) {	
	    var coords = $(Element).text().split(";");
	    if (coords.length < 3) {
	        $(this).display = "none";
	        return;
	    }
	    var latlng = new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1]));
	    var myOptions = {
	        zoom: parseFloat(coords[2]),
	        center: latlng,
	        mapTypeId: google.maps.MapTypeId.ROADMAP,
	        disableDefaultUI: false,
	        mapTypeControl: true,
	        zoomControl: true,
	        zoomControlOptions: {
	            style: google.maps.ZoomControlStyle.SMALL
	        }
	    };
	    var map = new google.maps.Map(Element, myOptions);
	    
		var directionsDisplay = new google.maps.DirectionsRenderer({
	        'map': map,
	        'preserveViewport': true,
	        'draggable': true
	    });
	    
	    //directionsDisplay.setPanel(Element);
		
		if (coords.length == 5) {
	    	calcRoute(directionsDisplay, coords[3], coords[4]);
	    }
	});

	function calcRoute(directionsDisplay, start, end) {
	    var request = {
	        origin:start,
	        destination:end,
	        travelMode: google.maps.DirectionsTravelMode.DRIVING
	    };
	    directionsService.route(request, function(response, status) {
	      if (status == google.maps.DirectionsStatus.OK) {
	        directionsDisplay.setDirections(response);
	      }
		});
	}

	function initPage(){
		return;
	}

{% endblock scripts %}
