{% extends "./sitebase.html" %}

{% block content %}
  <div class="content">
	  <div class="row">
	    <div class="col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<img alt="..." src="./static/img/posta.jpg" class="img-responsive img-rounded center-block">
	    </div>
	    <div class="col-sm-5 col-md-5 col-lg-5">
			<div class="font_7">
				<label class="font_2 centra">Contattaci</label>									
				<form role="form">
				  <div class="form-group">
					<label>Cognome e Nome *</label>
					<input type="text" class="form-control" placeholder="Inserisci Cognome e Nome">
				  </div>					  
				  <div class="form-group">
					<label for="exampleInputPassword1">Telefono</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Inserisci Telefono">
				  </div>
				  <div class="form-group">
					<label for="exampleInputEmail1">E-Mail *</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Inserisci email">
				  </div>
				  <div class="form-group">
					<label>Messaggio*</label>
					<textarea class="form-control" rows="4" placeholder="Inserisci messaggio"></textarea>
				  </div>
				  <button type="submit" class="btn btn-default">Invio</button>
				</form>
			</div>	
	    </div>
	  </div>
	</div>
{% endblock content %}

{% block scripts %}

	function initPage(){
		return;
	}

{% endblock scripts %}
