{% extends "./sitebase.html" %}

{% block content %}
	<div class="row marginTop20">
		<blockquote class="pull-right">
			<p class="font_10 well well-sm">"Questa è l'essenza della scienza: <br/>fate una domanda impertinente e preparatevi a ricevere una risposta pertinente"</p>
			<small><cite style="color:black;">(J. Bronowski)</cite></small>
		</blockquote>
		<div class="col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 hidden-xs ">
			<img alt="..." src="./static/img/posta.jpg" class="img-responsive img-rounded center-block" style="margin-top: 180px;">
		</div>
		<div class="col-sm-5 col-md-5 col-lg-5">
			<div class="font_7">
				<p class="font_2 centra">Contattaci</p>	
				<!--p class="font_4">Per info, dubbi e/o curiosità</p-->				
				<form action="" id="contact-form" method="POST">
					<div class="form-group">
						<label class="control-label" for="iNome">Nome e Cognome *</label>					 
						<input id="iNome" type="text" class="form-control" name="nome" required="required" placeholder="Nome ..."><span class="hide help-inline">Obbligatorio</span>
					</div>		
					<div class="form-group">
						<label class="control-label" for="iEmail">E-Mail *</label>
						<input id="iEmail" class="form-control" type="email" placeholder="email@email.com" name="email" required="required"/><span class="hide help-inline">Obbligatorio</span>
					</div>
					<div class="form-group">
						<label class="control-label" for="iOggetto">Oggetto *</label>
						<input id="iOggetto" class="form-control" type="text" placeholder="Oggetto ..." name="oggetto" required="required"/><span class="hide help-inline">Obbligatorio</span>			
					</div>
					<div class="form-group">
						<label class="control-label" for="iMessaggio">Messaggio *</label>
						<textarea id="iMessaggio" rows="5" class="form-control" placeholder="Messaggio ..." name="corpo" required="required"></textarea>
					</div>
					<div class="form-group">
						<button id="btnInvio" class="btn btn-default pull-right" type="submit">Invia</button>
					</div>
					<div id="formResponse"></div>
				</form>
			</div>	
		</div>
	</div>
{% endblock content %}

{% block addonscripts %}
<script src="./static/js/jquery.validate.min.js"></script>
{% endblock addonscripts %}

{% block scripts %}
	function initPage(){
		$('#contact-form').validate({
			rules: {
				nome: {
				  minlength: 5,
				  required: true
				},
				email: {
				  required: true,
				  email: true
				},
				oggetto: {
				  minlength: 3,
				  required: true
				},
				corpo: {
				  minlength: 20,
				  required: true
				}
			},
			highlight: function(label) {
				$(label).closest('.form-group').addClass('has-error');
			},
			unhighlight: function(label) {
				$(label).closest('.form-group').removeClass('has-error');
			},
			success: function(label) {
                $(label).closest('.form-group').removeClass('has-error').addClass('has-success');
            },	
			messages:{
				nome: {
					required: "Devi inserire il nome e il cognome",
					minlength: "Il nome deve essere minimo 5 caratteri"
				},
				email: {
					required: "Devi inserire l'email",
					email: "Inserisci una email valida"
				},
				oggetto: {
					required: "Devi inserire l'oggetto del messaggio",
					minlength: "L'oggetto deve essere di almeno 3 caratteri",
				},
				corpo: {
					required: "Devi inserire il corpo del messaggio",
					minlength: "Il corpo del messaggio deve essere di almeno 20 caratteri",
				},
			},
			errorElement: 'span',
			errorClass: 'help-block',
			errorPlacement: function(error, element) {
				if(element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			},
			submitHandler: function (form) {
	            // form validates so do the ajax
	            
			    $.getJSON('mail.php?contactFormSubmitted=yes&'+$('#contact-form').serialize(), function(data){
		        	var testo;
		        	
		        	<!-- console.log("Stato del messaggio: " + data.status); -->
					//NAscono il bottone invio
					$('#btnInvio').hide();

		        	if(data.status == '0'){
		          		testo = "<div id=\"idAlert\" class=\"alert alert-success\">";
		          		<!-- $('#btnInvio').prop('disabled', true); -->
		        	} else {
		          		testo = "<div id=\"idAlert\" class=\"alert alert-error\">";
		        	}
		        	testo += data.messaggio+"<\div>";
		        	$('#formResponse').append(testo);

		        	//Faccio scomparire il messaggio di allert
	          		$('#idAlert').hide(4000, 'easeInQuint', function() {
						$('#idAlert').remove();
						$('#btnInvio').show();
						$('#iNome').val('');
						$('#iEmail').val('');
						$('#iOggetto').val('');
						$('#iMessaggio').val('');
					});
			    });

            	return false; // ajax used, block the normal submit
	        },	
		});
	}

{% endblock scripts %}
