{% extends "./base.html" %}

{% block styles %}
{% endblock styles %}

{% block beforeContainer %}
{% endblock beforeContainer %}

{% block container %}

		
		{% block beforeContent %}
		{% endblock beforeContent %}

		<div id="wrap">
			{% include "./header.html" %}

			{% block content %}
			{% endblock content %}
		</div>
		
		{% block afterContent %}
		{% endblock afterContent %}

		{% include "./footer.html" %}

{% endblock container %}

{% block afterContainer %}
{% endblock afterContainer %}	

{% block addonscripts %}
{% endblock addonscripts %}

{% block scripts %}
{% endblock scripts %}
